<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
    title = 'Add task',
    content = ~{::section}
)}" xmlns:th="http://www.thymeleaf.org">
  <body>
    <section>
      <div class="container">
        <h1>Add Task</h1>
        <form action="#" th:action="@{/tasks/add}" method="post" onsubmit="disableSubmitButtons()">
          <div th:replace="~{fragments/task-fields :: task-fields(${taskRequest})}"></div>
          <input th:replace="~{fragments/disabling-submit :: disabling-submit('Create')}" />
        </form>
      </div>
    </section>
  </body>
</html>