<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
    title = 'All tasks',
    content = ~{::section}
)}" xmlns:th="http://www.thymeleaf.org">
  <body>
    <section>
      <h1>All Tasks<span th:if="${!tasks.isEmpty()}" th:text="| (${tasks.size})|"></span></h1>
      <p th:if="${tasks.isEmpty()}">No tasks yet!</p>
      <block th:if="${!tasks.isEmpty()}">
        <div th:each="task : ${tasks}">
          <span th:text="${task.name}"></span>
          <span th:text="${task.dueDate}"></span>
          <form th:replace="~{fragments/link-button :: link-button(@{/tasks/{id}(id=${task.id})}, 'View details')}"></form>
        </div>
      </block>
    </section>
  </body>
</html>