<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
    title = 'Home',
    content = ~{::section}
)}" xmlns:th="http://www.thymeleaf.org">
    <body>
        <section>
            <h1>Home</h1>
            <h2>Overdue tasks<span th:if="${!overdueTasks.isEmpty()}" th:text="| (${overdueTasks.size})|"></span></h2>
            <div th:if="${overdueTasks.isEmpty()}">No overdue tasks!</div>
            <div th:if="${!overdueTasks.isEmpty()}">
                <div th:each="task : ${overdueTasks}">
                    <span th:text="${task.name}"></span>
                    <span th:text="${task.daysOverdue}"></span>
                    <form th:replace="~{fragments/link-button :: link-button(@{/tasks/{id}(id=${task.id})}, 'View details')}"></form>
                    <form action="#" th:action="@{/tasks/{id}/complete(id=${task.id})}" method="post" class="inline" onsubmit="disableSubmitButtons()">
                        <input th:replace="~{fragments/disabling-submit :: disabling-submit('Complete')}" />
                    </form>
                </div>
            </div>

            <div th:if="${!completedTodayTasks.isEmpty()}">
                <h2>Completed today (<span th:text="${completedTodayTasks.size}"></span>)</h2>
                <div th:each="task : ${completedTodayTasks}">
                    <span th:text="${task.name}"></span>
                    <form th:replace="~{fragments/link-button :: link-button(@{/tasks/{id}(id=${task.id})}, 'View details')}"></form>
                    <form action="#" th:action="@{/tasks/{id}/uncomplete(id=${task.id})}" method="post" class="inline" onsubmit="disableSubmitButtons()">
                        <input th:replace="~{fragments/disabling-submit :: disabling-submit('Uncomplete')}" />
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>