<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
    title = 'Home',
    content = ~{::section}
)}" xmlns:th="http://www.thymeleaf.org">
    <body>
        <section>
            <div class="container d-flex flex-column gap-4">
                <div>
                    <h1>Overdue tasks<span th:if="${!overdueTasks.isEmpty()}" th:text="| (${overdueTasks.size})|"></span></h1>

                    <div th:if="${overdueTasks.isEmpty()}">No overdue tasks!</div>

                    <div class="list-group" th:if="${!overdueTasks.isEmpty()}">
                        <a th:each="task : ${overdueTasks}"
                           th:href="@{/tasks/{id}(id=${task.id})}"
                           class="list-group-item list-group-item-action d-flex align-items-center gap-3">

                            <div class="w-100">
                                <div th:text="${task.name}"></div>
                                <div class="text-secondary" th:text="|${task.daysOverdue} days overdue|"></div>
                            </div>

                            <form action="#"
                                  th:action="@{/tasks/{id}/complete(id=${task.id})}"
                                  method="post"
                                  onsubmit="disableSubmitButtons()">
                                <input th:replace="~{fragments/disabling-submit :: disabling-submit('Complete')}" />
                            </form>

                        </a>
                    </div>
                </div>

                <div th:if="${!completedTodayTasks.isEmpty()}">
                    <h1>Completed today (<span th:text="${completedTodayTasks.size}"></span>)</h1>

                    <div class="list-group">
                        <a th:each="task : ${completedTodayTasks}"
                           th:href="@{/tasks/{id}(id=${task.id})}"
                           class="list-group-item list-group-item-action d-flex align-items-center gap-3">

                            <div class="w-100" th:text="${task.name}"></div>

                            <form action="#"
                                  th:action="@{/tasks/{id}/uncomplete(id=${task.id})}"
                                  method="post"
                                  onsubmit="disableSubmitButtons()">
                                <input th:replace="~{fragments/disabling-submit :: disabling-submit('Uncomplete')}" />
                            </form>
                        </a>
                    </div>

                </div>
            </div>
        </section>
    </body>
</html>